@import url('https://fonts.googleapis.com/css?family=Francois+One|Open+Sans');

body{
    overflow: hidden;

    @import './Nav/nav';
    @import './Login/login';
    
    section{
        position: absolute;
        width: 80vw;
        height: 100vh;
        right: 0;
        top: 0;
        transition: all 0.5s ease-out;

        &.out{
            transform: rotate3d(0, 1, 0, 90deg);
            opacity: 0;
        }

        &.in{
            opacity: 1;
            transform: rotate3d(0, 1, 0, 0deg);
        }
    }
}
