@import url('https://fonts.googleapis.com/css?family=Francois+One|Open+Sans');

body{
    @import './Nav/nav';
    @import './Login/login';
    
    section{
        position: absolute;
        width: 80vw;
        height: 100vh;
        right: 0;
        top: 0;

    }
}
