nav {
    position: absolute;
    width: 20vw;
    height: 100vh;
    transition: all 0.2s linear;

    ul{
        li{
            width: 100%;
            
            .wrapper{
                display: flex;
                justify-content: center;
            }

            .nav-bg{
                position: absolute;
                width: 80vw;
                height: 100vh;
                left: 20vw;
                top: 0;
                transition: all 0.2s linear;
                opacity: 0;
                transform: scale(1);
                
                &.pre{
                    opacity: 0;
                }

                &.cur{
                    opacity: 1;
                }

                &.next{
                    opacity: 0;
                }
            }
        }
    }
}


