@import './login-anime';

.login-btn{
    position: fixed;
    right: 10px;
}

aside.login-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    z-index: 3;

    &.form-in{
        transition: all 1s ease 0s;
        border-radius: 100%;
        transform: scale(0) rotate3d(1, 2, -1, 195deg);
    }
    
    &.form-out{
        transition: all 1s ease 0s;
        border-radius: 0;
        transform: scale(1) rotate3d(0, 0, 0, 0);
    }

    canvas{
        position: absolute;
    }
    
    form{
        position: absolute;
        display: inline-flex;
        flex-wrap: wrap;
        margin: auto;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        
        @include login-anime;            
        
    }
}
